  {% include "home_header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'about.css' %}">
<div class="about-section">
    <h1>About Us </h1>
    <p>Some information about who we are and what we do.</p>
    <p> DETAIL IS GIVEN BELOW</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="" alt="1st" style="width:100%">
        <div class="container">
          <h2>SUMAN</h2>
          <p class="title">web developer & coder </p>
          <p>IIIT TRICHY ECE </p>
          <p>e mail</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="2nd" style="width:100%">
        <div class="container">
          <h2>HARSH </h2>
          <p class="title"> web developer & coder</p>
          <p>IIIT TRICHY ECE  </p>
          <p>e mail:</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="" alt="3rd " style="width:100%">
        <div class="container">
          <h2>ROHITH</h2>
          <p class="title">web developer & coder</p>
          <p>IIIT TRICHY ECE</p>
          <p>e mail:</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="4th" style="width:100%">
      <div class="container">
        <h2>TEJAS  </h2>
        <p class="title">web developer & coder</p>
        <p>VIT PUNE IT </p>
        <p>email: </p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="5th" style="width:100%">
      <div class="container">
        <h2>AJINKYA </h2>
        <p class="title">Coder</p>
        <p>IIIT VADODARA CS </p>
        <p>email</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="6th" style="width:100%">
      <div class="container">
        <h2>SAINATH</h2>
        <p class="title"> Web designer & developer </p>
        <p>IIIT TRICHY ECE  </p>
        <p>email: </p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>










































{% include "home_footer.html" %}