.form{
    align-items: center;
    font-style:bold;
    
    
    
}
.form h2{
    font-family: 'Times New Roman';
    font-size: 80px;
    padding-left: 0px;
    margin-top: 12%;
    letter-spacing: 2px;
}


.form{
    width: 300px;
    height: 400px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -30px;
    left: 750px;
    transform: translate(0%,-5%);
    border-radius: 50px;
    padding: 15px;
}

.form{
    font-family: 'Times New Roman';
    font-size: 60px;
    padding-left: 60px;
    margin-top: 0%;
    letter-spacing: 10px;
    word-spacing: 80px
}
.form{
    font-size: 70px;
    color:#37ac1a;
    

}
.form{
    font-size: 30px;

}
.btn{
    width: 70px;
    height: 40px;
    font-size: 15px;
    font-weight: 1000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
    background:solid #10ac10; 
    border: 3px solid #10ac10; 
    margin-top: 20px;
    color: rgb(73, 226, 12);
  
   
    border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.2s ease;
    cursor: pointer;
}





