.form{
    font: size 80px;
    font-weight: 900; 
    font-style:bold;
    align-items: center;
    
    


}
.form .helptext{
    font-size: 10px;
    visibility: hidden;
}
.form .id_username{
    font-size: 10px;
}
    
    
    


.form{
    width: 300px;
    height: 400px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -30px;
    left: 750px;
    transform: translate(0%,-5%);
    border-radius: 50px;
    padding: 20px;
}
.btn{
   
    width: 70px;
    height: 40px;
    font-size: 15px;
    font-weight: 1000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:solid #10aca4; 
    border: 3px solid  #ff3300; 
    margin-top: 20px;
    color:  #ff7200;
    border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.2s ease;
    cursor: pointer;
   
}
